@import "tailwindcss";
/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Ensure body takes full viewport height */
  body, html, #root {
    height: 100%;
  }
  
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for horizontal scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;  /* Firefox */
}


  